<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3>Hello, <%= @user.id %></h1>
    <p>You have successfully made a reservation. Here are your reservation details: <br></P>

    <hr>
    <h4>From:</h4><h1><%= @reservation.from %></h1>
    <h4>To:</h4><h1><%= @reservation.to %></h1>
    <p>
       Please use this barcode at the gates to enter reserved parking section: <br>
    </p>
    <div class="image">
      <%= image_tag( @reservation.qr_code.barcode_path.to_s) %>
    </div>
    <p>Thanks for reserving and have a great day!<br></p>
    <p>From the smart parking team</p>
  </body>
</html>