.component_dashboard {
  height:80%;
  position: absolute;
}
.parking_lot{
    top: 45% !important;
    width: 100%;
    position: absolute;
}
.parking_lot_card{
    background-color: white;
}

md-sidenav {
  width: 15%;
}

.smart_parking_menu_list_item{
   background-color: rgb(242, 242, 242);
}
.sp_height_break{
    height: 25px;
}

.spRegularParking{
   background-color: black !important;
}
